<div class="row">
    <form id="form_editar" action ="{% url 'trabalho:alterar' %}" method ="post">
        <input type="hidden" name="id" value="{{ show.id }}">
        {% csrf_token %}
    </form>
    <form id="form_remover" action ="{% url 'trabalho:remover' %}" method ="post">
        <input type="hidden" name="id" value="{{ show.id }}">
        {% csrf_token %}
    </form>

    <div class="col-xs-2 col-xs-offset-3">
        <a href="{% url 'trabalho:cadastro' %}"><button class="btn btn-info btn-block">Novo</button></a>
    </div>
    <div class="col-xs-2">
        <a onclick="functionSubmit('form_editar')" class="btn btn-warning btn-block">Alterar</a>
    </div>
    <div class="col-xs-2">
        <a onclick="functionSubmit('form_remover')" class="btn btn-danger btn-block">Remover</a>
    </div>
</div>
<br/>
<script>
    function functionSubmit(id_form) {
        document.getElementById(id_form).submit();
    }
</script>