<div class='footer'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-4 col-xs-12'>
                <h4>Assessoria de Imprensa</h4>
                <p><a href='#'> Paulo Pimenta</a></p>
                <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:paulo@mattonicomunicacao.com'>paulo@mattonicomunicacao.com</a></li>
                <p><a href='#'> </a></p>
                <p><a href='#'> </a></p>
                <p><a href='#'> </a></p>
                <p><a href='#'>Laura Barbosa</a></p>
                <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:laura@mattonicomunicacao.com'>laura@mattonicomunicacao.com</a></li>
            </div>

            <div class='col-sm-2 col-xs-6'>
                <h4>Fã Clube e Camarim</h4>
                <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:fc@anittaoficial.com'>fc@anittaoficial.com</a></li>
            </div>

            <div class='col-sm-2 col-xs-6'>
                <h4>Rádio/TV e Contatos Diversos</h4>
                <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:contato@rodamoinho.art.br'>contato@rodamoinho.art.br</a></li>
            </div>

            <div class='clearfix visible-xs'></div>

            <div class='col-sm-2 col-xs-6'>
                <h4>Outros</h4>
                <ul class='list-unstyled'>
                    <li><a href='#'>Carnaval</a></li>
                </ul>
            </div>

            <div class='col-sm-2 col-xs-6'>
                <h4>Publicidade</h4>
                <ul class='list-unstyled'>
                    <li><i class='glyphicon glyphicon-phone'></i> (21) 3826-4882</li>
                    <li><i class='glyphicon glyphicon-envelope'></i> <a href='mailto:contato@rodamoinho.art.br'>contato@rodamoinho.art.br</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>