
.bgimage {
    background-image: url('../images/d1.jpg');
    background-position: center center;
    background-size: cover;
    height: 0px;


}


/* ---------------------------------------------------- */


.navbar {
    margin-bottom: 0px;
}

/* ---------------------------------------------------- */


.media img {
    width: 180px;
    margin-bottom: 15px;
}

.media-body h3 {
    font-size: 20px;
}

.media-body .cabecalho {
    margin-top: 10px;
}

.formatoImagem {
    border-radius: 6%;
}

.noPaddingLeft {
    padding-left: 0px;
}


/* ---------  Ajustes das 4 fotos da Ilha Grande  ----- */

.media-list {
    padding-right: 20px;
}

.media-body p {
    padding-right: 15px;
}

.altura-da-linha {
    line-height: 8px;
}


/* ---------------------------------------------------- */

/*
background-color: #333; -  preto
color: #efefef; - branco
padding: 30px 0; - top e bottom padding de 30px e
                   right e left padding de 0px
color: #639bcf; - Azul
*/

.footer {
    background-color: #333;
    color: #efefef;
    padding: 30px 0;
}

.footer a {
    color: #639bcf;
}

.footer a:hover {
    color: #d8e6f3;
}


/* ---------------------------------------------------- */


@media (max-width: 465px) {
    .jumbotron h2 {
        padding-left: 15px;
        font-size: 25px;
    }
    .jumbotron p {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 17px;
    }
    .media img {
        width: 90px;
        margin-bottom: 6px;
    }
    .media-body h3 {
        font-size: 15px;
    }
    .media-body p {
        font-size: 12px;
    }
    .formatoImagem {
        border-radius: 50%;
    }
}


/* ---------------------------------------------------- */

/*
display: none; - não exibe - não ocupa o espaço
*/

@media (max-width: 360px) {
    .media-body p {
        display: none;
    }
    .media-body .cabecalho {
        margin-top: 18px;
    }
}

